<h1>{{ title }}</h1>
<div>
  <a routerLink="/dashboard"><button>Dashboard</button></a>
  <a routerLink="/heroes"><button>Heroes</button></a>
</div>
<div style="margin-top: 15px; margin-bottom: 15px">
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <button
    type="button"
    class="add-button"
    (click)="add(heroName.value); heroName.value = ''"
    style="
      height: 30px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <span>Add hero</span>
  </button>
</div>
<router-outlet />
